html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: sans-serif;
}

.Title p a:hover {
                transform: translateY(-5px);
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
                text-decoration: none; 
                color: white;
            }

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.Categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
  gap: 20px; 
  width: 100%; 
  align-items: stretch; 
  margin: 50px auto; 
  max-width: calc(100% - 200px); 
  padding: 20px; 
  box-sizing: border-box; 
}

/*Styling for blog cards starts here*/

.blog-card {
  height: 100%; 
  min-height: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%; 
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.blog-header {
  display: flex;
  flex-direction: column; 
  align-items: left; 
  text-align: left;
  gap: 8px; 
}
.blog-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}
.tag {
  display: inline-block; 
  width: auto;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #0073e6; /* Default blue tag */
  border-radius: 15px;
  margin-right: 8px;
  align-self: flex-start;
  text-decoration: none;
}

/*Styling for blog cards ends here*/

.Copy { background-color: #FF5722; } 
.Email { background-color: #9C27B0; }
.Tech { background-color: #4CAF50; } 
.Brand { background-color: #f487bc; } 
.Retail {background-color: #e8454b}
.Social {background-color: #38bdff}
